<!--
####################################################
# Flask Monitoring Web
#
# 
# Project : Python, Flask, MySQLite, Bootstrap
# Author  : Tonson Ubonsri
# Modifier: 
# Version : 
# Date    : Dec 01, 2024
#
####################################################
-->

{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container" style="max-width: 400px; padding: 20px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 class="text-center">Login</h2>

        <!-- ส่วนแสดงข้อความแจ้งเตือน -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }} text-center">
                {{ messages[0][1] }}
            </div>
        {% endif %}
        {% endwith %}


        <form method="POST" class="mt-4">
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <div class="text-center mt-3">
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
            <p><a href="{{ url_for('forgot_password') }}">Forget Password?</a></p>
        </div>
    </div>
</div>
{% endblock %}
